/.local/
/qa/
/dist/
/release/
/publish*/
/tools/dotnet*/
/tools/nuget/
/tools/libmpv/
*.zip
*.7z
src/Native/*.dll
src/Resources/Fonts/*.ttf
**/bin/
**/obj/
.vs/
*.user
*.pid
config.json
queue.json
local-library.json
offline-cache.json
playlists.json
lyric-offsets.json
netease-account.json
netease-recent.json
*.log
